/* Reactive Template!!! - Taken from WordPress */
/* -------------------------------------------------------------------------- */
/* -----------------------------------Desktop-------------------------------- */
/* -------------------------------------------------------------------------- */

html,body{
  /* color: #faf8f6 ; */
  background-color: #faf8f6;
 }

/* > 1240 -------------------------------------------------------------> 1240 */

@media only screen and (min-width: 1240px)
{
    /* *****************HEADER***************** */

  #header-wrapper {
    background-color: #ba5dfc;
    color: white;
    padding: 30px 0px;
    /* position: fixed; */
  }
  #header-wrapper a {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    /* position: fixed; */
  }

  #header-wrapper .active {
    color: #f5e36e;
    /* position: fixed; */
  }
    /* *****************ABOUT***************** */
  #intro-container {
    line-height: 1.4;
    color: white;
    /* background-color: #f99c5e; */
    /* background-color: #5E9AF9; */
    background-color: #ba5dfc;
    text-align: center;
    padding: 14% 0 21% 0;
    height: 100%;
    width: 100%;
  }
  #josh {
    font-size: 1.6em;
    font-weight: bold;
    color: #f5ed6e;
  }
    #intro-container div{
      font-size: 2.6em;
    }


  /* *****************ABOUT***************** */
  #about-container {
    font-size: 1.3em;
    text-align: center;
    padding: 120px 10% 300px 10%;
    /* background-color: #5E9AF9; */
    background-color: #f99c5e;
    color: white;
  }


      #about-container h2 {

      }
      #about-container span {

      }

  /* *****************ABOUT***************** */
  .details-collumn{
    text-align: center;
    border: 0.5px solid #5e9af9;
    /* border-radius: 25px; */
    padding: 10% 5%;
  }
    .abt-title{
      font-size: 1.8em;
    }
    .abt-text{
      font-size: 1.2em;
    }
    .abt-skillTitle{
      font-size: 1.4em;
    }
    .abt-skillList{
      font-size: 1.2em;
    }

  /* *****************DETAILS***************** */

  .details-container{
    margin-top: -200px;
    z-index:  100;
  }

    .details{
      background-color: white;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .details-top{
      margin: 5% 0 5% 5%;
      border-radius: 25px 0px 0px 25px;
      box-shadow: 0px 4px #eff2f7;
    }
    .details-middle{
      margin: 5% 0;
      box-shadow: 0px 4px #eff2f7;
    }
    .details-bottom{
      margin: 5% 5% 5% 0%;
      border-radius: 0px 25px 25px 0px;
      box-shadow: 0px 4px #eff2f7;
    }

  /* *****************PORTFOLIO***************** */
  .portoflio-title-container{
    margin: 30px auto 50px auto;
    text-align: center;
  }
    .portoflio-title-container h2{
      font-size: 2.5em;
    }
    .portoflio-title-container p{
      font-size: 1.2em;
    }

    .portfolio-container{
      margin: 5px 20px;
      }
    .portfolio-card {
      width: 32%;
      height: 230px;
      text-align: center;
      margin: 10px 0.5%;
      border-radius: 10px;
      float: left;
    }

  #card-bowyer{
  background: url(../images/bowyer-thumb.png) no-repeat center;
  }
  #card-earth-healer{
  background: url(../images/earth-healer-thumb.png) no-repeat center;
  }
  #card-pace{
  background: url(../images/pace-thumb.png) no-repeat center;
  }

  /*******FOOTER********/
  .icon-social{
  margin-right: 5px;
  }
  .cust-footer{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* #Desktop	960 - 1239 -------------------------------- #Desktop	960 - 1239 */
@media only screen and (min-width: 960px) and (max-width: 1239px)
{
  /* *****************ABOUT***************** */
#intro-container {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0.8;
  color: black;
  background: url('../images/pexels-photo-347139.jpeg') no-repeat center center fixed;
  text-align: center;
  padding: 18% 15%;
}
  #intro-container h1{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
  }

  #intro-container span{
    font-size: 0.8em;
  }

/* *****************ABOUT***************** */
#about-container {
  font-size: 1.3em;
  text-align: center;
  padding: 60px 10% 200px 10%;
  background-color: #5e9af9;
  color: white;
}
    #about-container h2 {

    }
    #about-container span {

    }

/* *****************ABOUT***************** */
.details-collumn{
  text-align: center;
  border: 0.5px solid #5e9af9;
  /* border-radius: 25px; */
  padding: 10% 5%;
}
  .abt-title{
    font-size: 1.8em;
  }
  .abt-text{
    font-size: 1.2em;
  }
  .abt-skillTitle{
    font-size: 1.4em;
  }
  .abt-skillList{
    font-size: 1.2em;
  }

/* *****************DETAILS***************** */

.details-container{
  margin-top: -200px;
  z-index:  100;
}

  .details{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .details-top{
    margin: 5% 0 5% 5%;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 4px #eff2f7;
  }
  .details-middle{
    margin: 5% 0;
    box-shadow: 0px 4px #eff2f7;
  }
  .details-bottom{
    margin: 5% 5% 5% 0%;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 0px 4px #eff2f7;
  }

/* *****************PORTFOLIO***************** */
.portoflio-title-container{
  margin: 30px auto 50px auto;
  text-align: center;
}
  .portoflio-title-container h2{
    font-size: 2.5em;
  }
  .portoflio-title-container p{
    font-size: 1.2em;
  }

  .portfolio-container{
    margin: 5px 20px;
    }
  .portfolio-card {
    width: 32%;
    height: 230px;
    text-align: center;
    margin: 10px 0.5%;
    border-radius: 10px;
    float: left;
  }

#card-bowyer{
background: url(../images/bowyer-thumb.png) no-repeat center;
}
#card-earth-healer{
background: url(../images/earth-healer-thumb.png) no-repeat center;
}
#card-pace{
background: url(../images/pace-thumb.png) no-repeat center;
}

/*******FOOTER********/
.icon-social{
margin-right: 5px;
}
.cust-footer{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
}


/* -------------------------------------------------------------------------- */
/* -----------------------------------Tablet--------------------------------- */
/* -------------------------------------------------------------------------- */

/* #Tablet (Landscape) 768 - 959 -------------- #Tablet (Landscape) 768 - 959 */

@media only screen and (min-width: 768px) and (max-width: 959px)
{
  /* *****************ABOUT***************** */
#intro-container {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0.8;
  color: black;
  background: url(../images/pexels-photo-347139.jpeg) no-repeat center center fixed;
  text-align: center;
  padding: 18% 15%;
}
  #intro-container h1{
    font-size: 1.8em;
    font-weight: bold;
  }

  #intro-container span{
    font-size: 0.8em;
  }

/* *****************ABOUT***************** */
#about-container {
  font-size: 1.3em;
  text-align: center;
  padding: 60px 10% 200px 10%;
  background-color: #5e9af9;
  color: white;
}
    #about-container h2 {

    }
    #about-container span {

    }

/* *****************ABOUT***************** */
.details-collumn{
  text-align: center;
  border: 0.5px solid #5e9af9;
  /* border-radius: 25px; */
  padding: 10% 5%;
}
  .abt-title{
    font-size: 1.8em;
  }
  .abt-text{
    font-size: 1.2em;
  }
  .abt-skillTitle{
    font-size: 1.4em;
  }
  .abt-skillList{
    font-size: 1.2em;
  }

/* *****************DETAILS***************** */

.details-container{
  margin-top: -200px;
  z-index:  100;
}

  .details{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .details-top{
    margin: 5% 0 5% 5%;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 4px #eff2f7;
  }
  .details-middle{
    margin: 5% 0;
    box-shadow: 0px 4px #eff2f7;
  }
  .details-bottom{
    margin: 5% 5% 5% 0%;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 0px 4px #eff2f7;
  }

/* *****************PORTFOLIO***************** */
.portoflio-title-container{
  margin: 30px auto 50px auto;
  text-align: center;
}
  .portoflio-title-container h2{
    font-size: 2.5em;
  }
  .portoflio-title-container p{
    font-size: 1.2em;
  }

  .portfolio-container{
    margin: 5px 20px;
    }
  .portfolio-card {
    width: 32%;
    height: 230px;
    text-align: center;
    margin: 10px 0.5%;
    border-radius: 10px;
    float: left;
  }

#card-bowyer{
background: url(../images/bowyer-thumb.png) no-repeat center;
}
#card-earth-healer{
background: url(../images/earth-healer-thumb.png) no-repeat center;
}
#card-pace{
background: url(../images/pace-thumb.png) no-repeat center;
}

/*******FOOTER********/
.icon-social{
margin-right: 5px;
}
.cust-footer{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
}


/* #Desktop & Tablet (Landscape) > 768 ----------------------------------------
---------------------------------------- #Desktop & Tablet (Landscape) > 768 */


/* #Tablet (Portrait) & Mobile < 768 ------------------------------------------
------------------------------------------ #Tablet (Portrait) & Mobile < 768 */

@media only screen and (min-width: 768px)
{

}


/* #Tablet (Portrait) & Mobile (Landscape) 480 - 768 --------------------------
--------------------------- #Tablet (Portrait) & Mobile (Landscape) 480 - 768 */

@media only screen and (min-width: 480px) and (max-width: 767px)
{
  #intro-container {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 0.8;
    color: black;
    background: url(../images/pexels-photo-347139.jpeg) no-repeat center center fixed;
    text-align: center;
    padding: 18% 15%;
    height: 100%;
  }
    #intro-container h1{
      font-size: 1.8em;
      font-weight: bold;
    }

    #intro-container span{
      font-size: 0.8em;
    }

  #about-container {
    font-size: 1.3em;
    text-align: center;
    padding: 60px 10% 50px 10%;
    background-color: #5e9af9;
    color: white;

  }
      #about-container h2 {

      }
      #about-container span {

      }

  .details-collumn{
    text-align: center;
    border: 0.5px solid #5e9af9;
    /* border-radius: 25px; */
    padding: 10% 5%;
  }
    .abt-title{
      font-size: 1.8em;
    }
    .abt-text{
      font-size: 1.2em;
    }
    .abt-skillTitle{
      font-size: 1.4em;
    }
    .abt-skillList{
      font-size: 1.2em;
    }
  .details-top{
    margin: 5% 5% 0 5%;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 4px 0px #eff2f7;
  }
  .details-middle{
    margin: 0 5%;
    box-shadow: 4px 0px #eff2f7;
  }
  .details-bottom{
    margin: 0 5% 5% 5%;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 3px 6px #eff2f7;
  }

  .portoflio-title-container{
    margin: 30px 0 50px 0;
    text-align: center;
  }
    .portoflio-title-container h2{
      font-size: 2.5em;
    }
    .portoflio-title-container p{
      font-size: 1.2em;
    }

    .portfolio-container{
      margin: 5px 20px;
      }
    .portfolio-card {
      width: 100%;
      height: 230px;
      text-align: center;
      margin: 10px 0;
      border-radius: 10px;
    }

  #card-bowyer{
  background: url(../images/bowyer-thumb.png) no-repeat center;
  }
  #card-earth-healer{
  background: url(../images/earth-healer-thumb.png) no-repeat center;
  }
  #card-pace{
  background: url(../images/pace-thumb.png) no-repeat center;
  }
  .icon-social{
  margin-right: 5px;
  }
  .cust-footer{
  margin-left: 0px !important;
  margin-right: 0px !important;
  }
}

/* -------------------------------------------------------------------------- */
/* -----------------------------------Mobile--------------------------------- */
/* -------------------------------------------------------------------------- */

/* #Mobile (Portrait) < 480 ------------------------ #Mobile (Portrait) < 480 */
@media only screen and (min-width: 448px) and (max-width: 500px)
{ }

/* #Mobile, Large < 425 ---------------------------------------------------- */
@media only screen and (max-width: 479px)
{

    #intro-container {
      font-size: 1.8em;
      font-weight: bold;
      line-height: 0.8;
      color: black;
      background: url(../images/pexels-photo-347139.jpeg) no-repeat center center fixed;
      text-align: center;
      padding: 18% 15%;
    }
      #intro-container h1{
        font-size: 1.8em;
        font-weight: bold;
      }

      #intro-container span{
        font-size: 0.8em;
      }

    #about-container {
      font-size: 1.3em;
      text-align: center;
      padding: 60px 10% 50px 10%;
      background-color: #5e9af9;
      color: white;

    }
        #about-container h2 {

        }
        #about-container span {

        }

    .details-collumn{
      text-align: center;
      border: 0.5px solid #5e9af9;
      /* border-radius: 25px; */
      padding: 10% 5%;
    }
      .abt-title{
        font-size: 1.8em;
      }
      .abt-text{
        font-size: 1.2em;
      }
      .abt-skillTitle{
        font-size: 1.4em;
      }
      .abt-skillList{
        font-size: 1.2em;
      }
    .details-top{
      margin: 5% 5% 0 5%;
      border-radius: 25px 25px 0px 0px;
      box-shadow: 4px 0px #eff2f7;
    }
    .details-middle{
      margin: 0 5%;
      box-shadow: 4px 0px #eff2f7;
    }
    .details-bottom{
      margin: 0 5% 5% 5%;
      border-radius: 0px 0px 25px 25px;
      box-shadow: 3px 6px #eff2f7;
    }

    .portoflio-title-container{
      margin: 30px 0 50px 0;
      text-align: center;
    }
      .portoflio-title-container h2{
        font-size: 2.5em;
      }
      .portoflio-title-container p{
        font-size: 1.2em;
      }

      .portfolio-container{
        margin: 5px 20px;
        }
      .portfolio-card {
        width: 100%;
        height: 230px;
        text-align: center;
        margin: 10px 0;
        border-radius: 10px;
      }

    #card-bowyer{
    background: url(../images/bowyer-thumb.png) no-repeat center;
    }
    #card-earth-healer{
    background: url(../images/earth-healer-thumb.png) no-repeat center;
    }
    #card-pace{
    background: url(../images/pace-thumb.png) no-repeat center;
    }
    .icon-social{
    margin-right: 5px;
    }
    .cust-footer{
    margin-left: 0px !important;
    margin-right: 0px !important;
    }

}

/* #Mobile, Medium < 375 ----------------------------------------------------*/
@media only screen and (max-width: 376px)
{
  #intro-container {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 0.8;
    color: black;
    background: url(../images/pexels-photo-347139.jpeg) no-repeat center center fixed;
    text-align: center;
    padding: 18% 15%;
  }
    #intro-container h1{
      font-size: 1.8em;
      font-weight: bold;
    }

    #intro-container span{
      font-size: 0.6em;
    }

  #about-container {
    font-size: 1.2em;
    text-align: center;
    padding: 60px 10% 50px 10%;
    background-color: #5e9af9;
    color: white;

  }
      #about-container h2 {
        font-size: 1.4em;
      }
      #about-container span {

      }

  .details-collumn{
  text-align: center;
  border: 0.5px solid #5e9af9;
  /* border-radius: 25px; */
  padding: 10% 5%;

  }

  .details-top{
  margin: 5% 5% 0 5%;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 4px 0px #eff2f7;
  }

  .details-middle{
  margin: 0 5%;
  box-shadow: 4px 0px #eff2f7;
  }
  .details-bottom{
  margin: 0 5% 5% 5%;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 3px 6px #eff2f7;
  }

  .portoflio-title-container{
  margin-top: 30px;
  text-align: center;
  }

  .portfolio-container{
  margin: 5px 20px;
  }
  .portfolio-card {
  width: 100%;
  height: 180px;
  text-align: center;
  margin: 10px 0;
  border-radius: 10px;
  }

  #card-bowyer{
  background: url(../images/mobile/bowyer-thumb-m-300.png) no-repeat center;
  }
  #card-earth-healer{
  background: url(../images/mobile/earth-healer-thumb-m-300.png) no-repeat center;
  }
  #card-pace{
  background: url(../images/mobile/pace-thumb-m-300.png) no-repeat center;
  }
  .icon-social{
  margin-right: 5px;
  }
  .cust-footer{
  margin-left: 0px !important;
  margin-right: 0px !important;
  }

}

/* #Mobile, Small < 320 -----------------------------------------------------*/
@media only screen and (max-width: 320px)
{
  #main{
    margin: 0;
    padding: 0;
  }

  #intro-container {
    font-weight: bold;
    line-height: 0.8;
    color: black;
    background: url(../images/pexels-photo-347139.jpeg) no-repeat center center fixed;
    text-align: center;
    padding: 18% 15%;
  }

      #intro-container h1{
        font-size: 1.2em;
        font-weight: bold;
      }

      #intro-container span{
        font-size: 0.6em;
      }

  #about-container {
    text-align: center;
    padding: 60px 10% 50px 10%;
    background-color: #5e9af9;
    color: white;
  }
  /* . */

  .details-collumn{
    text-align: center;
    border: 0.5px solid #5e9af9;
    /* border-radius: 25px; */
    padding: 10% 5%;

  }

    .details-top{
      margin: 5% 5% 0 5%;
      border-radius: 25px 25px 0px 0px;
      box-shadow: 4px 0px #eff2f7;
    }

    .details-middle{
      margin: 0 5%;
      box-shadow: 4px 0px #eff2f7;
    }
    .details-bottom{
      margin: 0 5% 5% 5%;
      border-radius: 0px 0px 25px 25px;
      box-shadow: 3px 6px #eff2f7;
    }

  .portoflio-title-container{
    margin-top: 30px;
    text-align: center;
  }

  .portfolio-container{
    margin: 5px 20px;
  }
    .portfolio-card {
      width: 100%;
      height: 180px;
      text-align: center;
      margin: 10px 0;
      border-radius: 10px;
    }

  #card-bowyer{
    background: url(../images/mobile/bowyer-thumb-m-300.png) no-repeat center;
  }
  #card-earth-healer{
    background: url(../images/mobile/earth-healer-thumb-m-300.png) no-repeat center;
  }
  #card-pace{
    background: url(../images/mobile/pace-thumb-m-300.png) no-repeat center;
  }
  .icon-social{
    margin-right: 5px;
  }
  .cust-footer{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
